
<div class="bg-warning d-flex justify-content-center align-items-center p-1 rounded-1 hover"  style="width: 100px; cursor: pointer;" @onclick="Click">
    @if(status == "loading")
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        <div class="text-bg-warning">@ChildContent</div>
    }
    
</div>

@code {
    [Parameter]
    public Action? onclick { get; set; }
    [Parameter]
    public string status { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void Click()
    {
        if(status != "loading"){
            onclick?.Invoke();  
        }
    }
}
