@using Recipi_API.Models;
@using Recipi_PWA.Models;

@inherits LayoutComponentBase
@inject IUserService userService;
@inject StateContainer state;
@inject HttpClient httpClient;

<div class="container-fluid d-flex align-items-center flex-column px-0" style="height: 100vh;">
     @Body
     <Toolbar />
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        if (state.You == null && state.LoggedIn)
        {
            var response = await userService.GetUserById("me");

            if (response.IsSuccessStatusCode)
            {
                await state.SetYou(await response.Content.ReadFromJsonAsync<You>());
                StateHasChanged();
            }
            else
            {
                Console.WriteLine("Error");
            }


        }
    }


    
}