@using Recipi_API.Models;
@using Recipi_PWA.Models;

@inherits LayoutComponentBase
@inject IUserService userService;
@inject StateContainer state;
@inject HttpClient httpClient;

<div class="container-fluid px-0" style="height: 100vh;">
     @Body
     <Toolbar />
</div>

@code{
    protected override async void OnInitialized()
    {
        
        if(state.You == null)
        {
            if (state.LoggedIn)
            {
                if (!userService.TokenSet())
                {
                    userService.SetToken(await state.GetToken());
                }
                var response = await userService.GetUserById("me");

                if (response.IsSuccessStatusCode)
                {
                    await state.SetYou(await response.Content.ReadFromJsonAsync<You>());
                    Console.WriteLine(await state.GetYou());
                }
                else
                {
                    Console.WriteLine("Error");
                }
            }
        }
    }

    
}