@inject NavigationManager navi

<div class="modal @ModalClass" tabindex="-1" style="display:@ModalDisplay">
    @if(Title != null)
    {
        <div class="modal-title">
            @Title
        </div>
    }
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button @onclick="Close" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <p>@Body</p>
                </div>
                <div class="modal-footer">
                    @ButtonGroup
                </div>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div @onclick="Close" class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public RenderFragment? ButtonGroup { get; set; }
    [Parameter]
    public RenderFragment Body { get; set; }
    [Parameter]
    public RenderFragment? Title { get; set; }

    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    public Guid Guid = Guid.NewGuid();

    public void Open()
    {
        ModalDisplay = "inline-block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}
