
@if(valid){
    <span class="text-success p-1"><i class="fas fa-check"></i> @ChildContent</span>
}
else
{
    <span class="text-danger p-1"><i class="fas fa-x"></i> @ChildContent</span>
}


@code {
    [Parameter]
    public bool valid { get; set; } = false;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
