<div class="fixed-top">
    <img src="~/placeholder_searchbar.png" alt="searchbar placeholder image" class="img-fluid" />
    <span>Step X: playhead would be where hr is</span>
    <hr />
</div>

@code {
    //persumably search function code...
}
