@inject IJSRuntime JSRuntime
<div id="seek-container">

</div>
<style>
    #seek-container {
        cursor: pointer;
        height: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #eee;
        overflow: hidden;
        position: relative;
        width: 100%;
        display:flex;
        justify-content:flex-start;
        flex-direction:row;
    }
    #seek-container > div  {
        height:100%;
            border-right: 1px solid #bbb;
    }

        #seek-container > div > div {
            width: 0%;
            height:100%;
        }
</style>
@code {
    [Parameter]
    public string videoSelector { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("InitSeekBar", videoSelector);
        }
    }
}
