@using Recipi_PWA.Models;
<div class="d-flex align-items-center justify-content-evenly flex-row container-fluid">
    <NavLink class="d-flex align-items-center justify-content-center flex-column text-bg-secondary" style="text-decoration: none;">
        <span style="font-size: 20px">@stats.followers</span>
        <span style="font-size: 12px">Followers</span>
    </NavLink>
    <NavLink class="d-flex align-items-center justify-content-center flex-column text-bg-secondary" style="text-decoration: none;">
        <span style="font-size: 20px">@stats.following</span>
        <span style="font-size: 12px">Following</span>
    </NavLink>
    <NavLink class="d-flex align-items-center justify-content-center flex-column text-bg-secondary" style="text-decoration: none;">
        <span style="font-size: 20px">@stats.posts</span>
        <span style="font-size: 12px">Posts</span>
    </NavLink>
    @if(self){
        <NavLink class="d-flex align-items-center justify-content-center flex-column text-bg-secondary" style="text-decoration: none;">
            <span style="font-size: 20px">@stats.friends</span>
            <span style="font-size: 12px">Friends</span>
        </NavLink>
    }
</div>

@code {
    [Parameter]
    public bool self { get; set; }
    [Parameter]
    public UserStats stats { get; set; }

    protected override void OnInitialized()
    {
        if(stats == null)
        {
            stats = new()
            {
                followers = 0,
                following = 0,
                friends = 0,
                posts = 0
            };
        }
    }
}
