@using Recipi_PWA.Models;
@using Recipi_PWA.Shared.Profile
@inject StateContainer state;
@inject NavigationManager NavigationManager;

<Modal @ref="modal">
    <Body>
        Would you like to attach a recipe to this post?
    </Body>
    <ButtonGroup>
        <button @onclick="@NavigateToCreatePost" type="button" class="btn btn-primary">No, just record a recipeless post :(</button>
        @*<input type="file" style="opacity: 0" class="btn btn-primary" accept="video/*" capture @onchange="HandleFileChange"/>*@
        <button @onclick="@NavigateToRecipeEditor" type="button" class="btn btn-secondary">Yes!</button>
    </ButtonGroup>
</Modal>

<nav class="nav bg-secondary fixed-bottom">
    <div class="d-flex justify-content-evenly align-items-center container-fluid" style ="height: 90%">
        <div class="nav-item col-2 px-3 flex-fill">
            <NavLink class="nav-link px-3 text-info d-flex flex-column align-items-center justify-content-center" href="./" Match="NavLinkMatch.All">
                <i class="fa-solid fs-2 fa-popcorn flex-shrink-1"></i> <span class="resizable">Browse</span>
            </NavLink>
        </div>
        <div class="nav-item col-2 px-3 flex-fill">
            <NavLink class="nav-link text-white d-flex flex-column align-items-center justify-content-center" href="./Following" Match="NavLinkMatch.All">
                <i class="fa-solid fs-2 fa-users flex-shrink-1"></i> <span class="resizable">Following</span>
            </NavLink>
        </div>
        <div class="nav-item col-2 px-3 flex-fill">
            <a class="btn btn-link text-decoration-none text-white d-flex flex-column align-items-center justify-content-center" @onclick="ShowModal">
                <i class="fa-solid fs-2 fa-square-plus flex-shrink-1"></i> <span class="resizable">Post</span>
            </a>
        </div>
        <div class="nav-item col-2 px-3 flex-fill">
            <NavLink class="nav-link text-white d-flex flex-column align-items-center justify-content-center" href="./Messages" Match="NavLinkMatch.All">
                <i class="fa-solid fs-2 fa-message flex-shrink-1"></i> <span class="resizable">Messages</span>
            </NavLink>
        </div>
        <div class="nav-item col-2 px-3 flex-fill">
        
                @if(state.LoggedIn){

                    <NavLink class="nav-link text-white d-flex flex-column align-items-center justify-content-between" onclick="@(() => {NavigationManager.NavigateTo("/Profile/me"); })" Match="NavLinkMatch.All">
                        <ProfilePicture userId="me" profilePictureUrl="@state.You.ProfilePicture"></ProfilePicture>
                        <span class="resizable">Profile</span>
                    </NavLink>
                }
                else
                {
                    <NavLink class="nav-link text-white d-flex flex-column align-items-center justify-content-between" href="./Login" Match="NavLinkMatch.All">
                        <i class="fa-solid fs-2 fa-user flex-shrink-1"></i> <span class="resizable">Login</span>
                    </NavLink>
                }
        </div>
    </div>
</nav>

@code{
    private Modal modal;
    private void ShowModal() => modal.Open();
    private void CloseModal() => modal.Close();

    private void NavigateToCreatePost()
    {
        NavigationManager.NavigateTo("/CreatePost");
        modal.Close();
    }

    private void NavigateToRecipeEditor()
    {
        NavigationManager.NavigateTo("/CookbookViewer");
        modal.Close();
    }

    private void HandleFileChange(ChangeEventArgs args)
    {
        //state.AddMedia(args.Value);
        NavigationManager.NavigateTo("/PostEditor");
    }
}