@using Recipi_PWA.Models;
@using Recipi_PWA.Shared.Profile;
@using Recipi_PWA.Services;
@inject NavigationManager NavigationManager;
@inject IUserService userService;
@inject IMessageService messageService;
@inject StateContainer state;

<div class="px-4 py-3 container-fluid d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex flex-row align-items-center justify-content-start" onclick="@OnBodyClick">
        <div class="mx-1">
        <ProfilePicture size="1"></ProfilePicture>
        </div>
        <div class="mx-1" style="line-height: none;">
            @userListData.Username
        </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-around">
        <Button onclick="@CreateConversation">@ChildContent</Button>
    </div>
</div>

@code {
    [Parameter]
    public UserListingData userListData { get; set; }
    [Parameter]
    public Action<int>? createConversation { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    //Go to user profile
    private void OnBodyClick()
    {
        NavigationManager.NavigateTo($"./Profile/{userListData.UserId}");
    }

    //Create Conversation
    private void CreateConversation()
    {
        createConversation?.Invoke(userListData.UserId);
    }
}
